:root{
    --textColor: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff2565;
    clip-path: polygon(54% 0, 100% 0%, 100% 100%, 84% 100%);
    animation: fade-in 1s ease-in forwards;
    animation-delay: 1.5s;
    opacity: 0;

}

section .content{
    position: relative;
    padding: 0 50px 0 150px;
    box-sizing: border-box;
    display: flex;
}

section .content h2{
    color: var(--textColor);
    font-size: 3em;
    font-weight: 800;
}
section .content p{
    color: var(--textColor);
    font-size: 1.2em;
}

.btnlearn{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #ff2565;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 700 ;
    letter-spacing: 2px;
}


section .imgBx{
    position: relative;
    padding-right: 100px;
    animation: fade-in 1s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;
}

section .imgBx img{
    max-width: 500px;

}

.pdesciption{
display: flex;
align-items: center;
}

/* day2 */
.sci,
.nav,
.desciption{
    animation: left-in 1s ease-in forwards;
    animation-delay: 0s;
    opacity: 1;
}

.sci{
    position: absolute;
    bottom: 75px;
    left: 150px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    color: #999;
    margin-right: 30px;
    font-size: 0.9em;
}

.sci li a:hover{
    color: var(--textColor);
}


.nav{
    position: absolute;
    top: 75px;
    left: 150px;
    display: flex;
    border-left: 5px solid #ff2562;
    padding-left: 20px;
}

.nav li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    color:var(--textColor);
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav li a.active,
.nav li a:hover{
    color:#ff2565;
}


/* keyframes */
@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes left-in
{
    0%
    {
        transform: translateX(-200px);
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}


/* Responsive */
/* menos a */
@media (max-width:991px)
{
    .menuicon
    {
        position: fixed;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        background-image: url(../images/menu.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }

    .menuicon.active
    {
        background-image: url(../images/close.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }

    .nav
    {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .95);
        flex-direction: column;
        z-index: 11;
        border: none;
        padding: 50px;
    }

    .nav.active
    {
        left: 0;
    }

    .nav li
    {
        margin: 5px 0;
    }
    /* 6:42 */
    .content
    {
        flex-direction: column-reverse;
        justify-content: center;
    }
    section::before{
        clip-path: polygon(0 0, 100% 0%, 100% 10%, 0 26%);
    }

    section .content{
        padding: 50PX;
        margin-bottom: 30px;
    }
    section .content h2{
        font-size: 1.5em;
    } 
    section .content p{
        font-size: 1em;
    } 
    section .content a{
        font-size: 0.8;
        margin: 10px 10px 10px 0;
    } 
    section .imgBx {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-top: 20px;
    }
    section .imgBx img{
        max-width: 300px;
    }

    
    .sci{
        left: 50px;
        bottom: 30px;
    }
}


/* min  4:15 quiero poner relative en variable*/